body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: #ffea00;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffea00;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}